/* center-align table columns */
table, th, tr {text-align: center;}
button.btn-success {background-color: green;}
button.btn-danger {background-color: red;}
button.btn-clear {background-color: skyblue;}